*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-color: #3E32C6;
    background-image: url(./ASSET/background.png);
    background-size: 100%;
    background-repeat: repeat;
    background-position: center;
}

.Usage{
    position: absolute;
    width: 120px;
    height: 30.86px;
    left: 500px;
    top: 31px;
    background: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    cursor: grab;

}

.Usage::before{
    width: 35px;
    height: 35px;
    content: '';
    position: absolute;
    left:-40px;
    background-image: url(./ASSET/codingWhite.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Usage h2{ 
    margin-top: 0.5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.Language{
    position: absolute;
    width: 204px;
    height: 30px;
    left: 845px;
    top: 31px;
    background: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    cursor: grab;

}

.Language::before{
    width: 35px;
    height: 35px;
    content: '';
    position: absolute;
    left:-40px;
    background-image: url(./ASSET/languageWhite.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Language h2{
    margin-top: 0.5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.DescriptiveText h2{
    position: absolute;
    width: 254px;
    height: 29px;
    left: 300px;
    top: 163px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #968CFE;
}

.AppName h2{
    position: absolute;
    width: 893px;
    height: 148px;
    left: 300px;
    top: 198px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.Input{
    position: absolute;
    width: 800px;
    height: 78px;
    left: 300px;
    top: 350px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-left: 2em;
}

.Search{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 400px;
    top: 364px;
    background: #3E32C6;
    border-radius: 100px;
    background-image: url(./ASSET/search\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: grab;
}

.LanguageChange h2{
    position: absolute;
    width: 241px;
    height: 25px;
    left: 330px;
    top: 453px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.LanguageChange h2::before{
    position: absolute;
    width: 18px;
    height: 21px;
    left: 185px;
    top: 456px;
    background: url(./ASSET/Playbutton.png);
}

